# Server / Management settings
server:
  port: 8080
  shutdown: graceful

spring:
  jpa:
    database: postgresql
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  datasource:
    url: jdbc:postgresql://localhost:5432/default_database
    username: username
    password: password
